fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]
python-dotenv
# Pour génération PDF
weasyprint
reportlab
jinja2
openpyxl
pandas
gunicorn
pydantic-settings
twilio
termii
prometheus_client
email-validator